//SASS Variables
$overview_border_radius: 6px;
$back_color: #AFCFC9;
$dark_text: #443B35;
$dark_text2: #5F5F5F;
$footer_color: #98C5BC;//#8ABFB4;//#94CDCB; //light blue
$color2: #718488;
$color2-hover: #AD958C;//#AA897D;//#A57463;//#645656;
$color3: #BCD496;//#8DB356;//#AF7F7F;//#AF6868;//#7C778F;//grey-purple //#9C6C6C; //dark pink
$color4: #BCD496;
$color5: #EBE5C5;

$hover-button-size-small: 31px;
$default-button-size-small: 25px;
$hover-button-size: 45px;
$default-button-size: 35px;
$button-color: #61B3AF;
$button-color-active: #3ACCC5;
$button-color-border: #6F7D81;
//SASS Import
@import "compass";


//=========================================================================


/* =========================================================================
 * Typography - Font Face
 * ==========================================================================*/


/* ==========================================================================
 * Global Styling Changes
 * ==========================================================================*/
body {
  font-family: QuicksandBookRegular, Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, sans-serif;
  font-size: 16px;
  color: white;
  min-width: 300px;
  min-height: 300px;
  background: $back_color;//light blue
}
body.front{
  background: $back_color;//light blue
}

h1{
  font-family: Copperplate Gothic Light, sans-serif;
  font-size: 2em;
}
h2{
  font-size: 1.5em;
  font-family: QuicksandBookRegular, Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, sans-serif;
}
h3{
  font-size: 1.2em;
  font-family: QuicksandBookRegular, Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, sans-serif;
}

h4{
  font-size: 1em;
  font-family: QuicksandBookRegular, Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, sans-serif;

}
b{
  font-family: QuicksandBookRegular, Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, sans-serif;
}
p{
  line-height: 1.5em;
  font-size: 1em;
  margin-bottom: 2em;
}
a{
  color: #1B9EE0;
  text-decoration: none;
}
img {
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}


a:hover, a:focus, a:active{
  color: #4AC1FD;
}

a:visited{
  color: #5496B8;
}

/* ==========================================================================
 * Addtional Global Styling
 * ==========================================================================*/

//clearfix
.clear{
  clear:both;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}


* html .clearfix {
	height: 1%;
}

//no border
.noBorderL{
  border-left:none;
}
.noBorderR{
  border-left:none;
}

/* ==========================================================================
 * General Layout Specific Styling
 * ==========================================================================*/
.social {
  position: absolute;
  bottom: 0;
  z-index:    1;

  li{
    margin-left: 20px;
    float: right;
    font-family: "SSSocial";
    // font-weight: bold;
    font-size: 400%;
    position: relative;
    a{
      color: white;
      opacity: 0.7;
      border-radius: 50%;
      z-index: 5;
      span{
        position:absolute;
        top: -11.9%;
        left: 1.3%;
        z-index: -1;
        width: 99%;
        height: 99%;
        background: white;
        opacity: 0;
        @include border-radius(50%);
        @include transition(opacity 0.4s);
        behavior: url(PIE.htc);
      }

      @include transition(color 0.4s ease-out, opacity 0.6s);
      &:hover, &:focus{
        opacity: 1;
        span{
          opacity: 1;
        }
      }
      &:hover.facebook, &:focus.facebook{// &:active.facebook{
        color: #3B5998; }
      &:hover.twitter, &:focus.twitter{//&:active.twitter{
        color: #2daae1; }
      &:hover.linkedin, &:focus.linkedin{// &:active.linkedin{
        color: #0370a9; }
      &:hover.googleplus, &:focus.googleplus{// &:active.googleplus{
        color: #CC0000; }
    }
  }
}

/* ==================================================================================
 *      Global Styling of main content
 * ==================================================================================*/

.main-wrapper{
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 320px;
  width: 92%;
  overflow: hidden;
  .main{
    max-width: 1100px;
    /* ==================================================================================
     *      Default Pages styling
     * ==================================================================================*/

    .page-title-wrapper{
      margin: 4em auto 0 auto;
      width: 95%;
      position: relative;
      text-align: center;
      a{
        display: inline-block;
      }
      .page-title{
        background: $color2 url('../../img/city.jpg') 380px center;
        position: relative;
        border: white 0.1em solid;
        z-index: 2;
        margin-bottom: .5em;
        @include border-radius(50%);
        @include transition(all 0.2s, background 1s);
        @include box-shadow(inset 2px -2px 3px rgba(60, 60, 60, 0.25), 0 0 6px rgba(80, 80, 80, 0.4));
        behavior: url(PIE.htc);
        h1{
          font-size: 1em;
          float:left;
          font-family: WindsongRegular;
          text-align: center;
          text-shadow: 2px -1px rgba(50,50,50, .6);
          width: 100%;
          &:first-letter{
            font-size: 1.2em;
          }
          span{
            display: block;
            margin: 0;
            color: white;
          }
        }
      }
      .page-title::after{
        content: '';
        @include box-shadow(inset -2px 2px 5px black);
      }
      a:hover .page-title,a:focus .page-title{
        background: url(../../img/stock1.jpg);
      }
      /* ==================================================================================
       *      Front Page styling
       * ==================================================================================*/
      .slogan{
        text-shadow: 1px 2px rgba(100, 100, 100, 0.3);
        position: absolute;
          top:      36%;
          left:     0;
        width:      100%;
        white-space: nowrap;
        // background: grey;
        padding:    0.5em 0;
        @include border-radius(1em);
        p{
          margin-bottom: 0;
        }
        h2{
          color: $dark_text2;
        }
        h2 > p:nth-child(1) {
          text-align: right;
          // @include transition(margin-right 0.5s);
          // margin-right: 10.0em;
        }
        h2 > p:nth-child(2) {
          text-align: left;
        }
        h2 > p{
          float: left;
        }
        h2 > p span{
        }
        margin-bottom: 30px;
      }
    }
  }
}

.page-content{
  max-width: 960px;
  margin: 5em auto 20em;
}

/* ==================================================================================
 *      Front Page recent Posts Styling
 * ==================================================================================*/
.recent-posts{
  background: white;
  color: $dark_text;
  padding: 2em 5%;
  @include border-radius(20px);
  @include box-shadow( -3px 4px 10px rgba(77, 77, 77, 0.56));
  a{
    color: $dark_text;
  }
  a:hover, a:focus{
    h2{
      color: #665F5A;
    }
    .content p{
      text-decoration: underline;
    }
  }
  h1{
    font-size: 2em;
    // font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1em;
  }
  h2{
    font-size: 1.7em;
    // font-weight: bold;
    margin-bottom: 0.5em;
    margin-right: 2em;
  }
  p{
  }
  [class*='post-']{
    width: 100%;
    overflow: hidden;
    float: left;
    position: relative;
    .content{
      padding: 6%;
    }
    .date{
      position: absolute;
        top: 0;
        right: 0;
      width: 5em;
      height: 5em;
      background: $color5;
      padding: 9%;
      font-size: .6em;
      padding: 1em;
      @include border-radius(0 0 0 0.5em);
      @include box-shadow(2px -2px 2px #F0F0E5);
        color: $dark_text;
        font-family: QuicksandBoldRegular, Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, sans-serif;
        // font-weight: bold;
        span{
          display: block;
          text-align: center;
        }
        .M{font-size:1.5em;}
        .D{font-size: 2.5em; margin: 0.2em 0;}
    }
    .content{
      img{
        max-height: 9em;
        margin: 0.4em;
        @include border-radius(0.5em);
      }
    }
  }
  ul.posts{
    overflow-x: scroll;
    padding-bottom: 2em;
    @include filter-gradient(#ffffff, #ffffff, horizontal); // IE6-9
    @include background-image(linear-gradient(left, rgba(255,255,255,1) 77%,rgba(255,255,255,1) 85%,rgba(255,255,255,0) 100%));
  }
  ul.posts .items{
    width: 5000px;
  }
  ul.posts li{
    float: left;
    min-height: 5em;
    border: 1px solid #F0F0E5;
    width: 330px;
  }
  .slide{
    margin: auto;
    @include border-radius(50%);
      behavior: url(PIE.htc);
    border: solid white 5px;
    height: 200px;
    width: 200px;
    background: #DDEEEE;
    position: relative;
    a {
      h4{
        font-size: 2em;
        margin: 20% 3%;
      }
      .mask{
        @include border-radius(50%);
          behavior: url(PIE.htc);
        overflow: hidden;
        position: absolute;
        height: 100%;
        width: 100%;
      }
    }
  }
}


.content-wrapper{
  margin: 10px;

  #content{
    height: 300px;
    background: white;
    width: 100%;
  }
}

/* ==================================================================================
 *      Global Contact Lightbox Styling
 * ==================================================================================*/

/* ==================================================================================
 *      Filter Buttons
 * ==================================================================================*/
.filters{
  text-shadow: -1px 1px rgba(100, 100, 100, 0.3);
  clear: both;
  color: white;
  font-size: 1.25em;
  h3{
    text-align: center;
  }
  li{
    float:left;
    margin: 0 1em;
  }
  li .label{
  }
  button{
    color: white;
    cursor: pointer;
    text-align: center;
    background: transparent;
    border: none;
    font-family: QuicksandBoldRegular, Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, sans-serif;
    font-size:   inherit;
    text-shadow: inherit;
    padding: 0;
    margin: 0;
  }
  button:hover, button:focus{
    // font-weight: bold;
  }
  button:hover span, button:focus span{
  }
  button span{
    display: block;
    width: 3.5em;
    height: 3.5em;
    background: $color3;
    margin: .5em auto;
    border: 0.25em white solid;
    @include transition(all 1s);
    @include border-radius(50%);
      behavior: url(PIE.htc);
  }
  .categories {
    margin-left: 28%;
    clear: both;
  }
}

.filters.fixed{
  position: fixed;
    top: 0;
    right: 0;
  z-index: 10;
  font-size: 0.5em;
  li{
    float: none;
  }
}
