/* =========================================================================
 * Typography - Font Face
 * ==========================================================================*/
/* ==========================================================================
 * Global Styling Changes
 * ==========================================================================*/
/* line 35, ../sass/global.style.scss */
body {
  font-family: QuicksandBookRegular, Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, sans-serif;
  font-size: 16px;
  color: white;
  min-width: 300px;
  min-height: 300px;
  background: #afcfc9;
}

/* line 43, ../sass/global.style.scss */
body.front {
  background: #afcfc9;
}

/* line 47, ../sass/global.style.scss */
h1 {
  font-family: Copperplate Gothic Light, sans-serif;
  font-size: 2em;
}

/* line 51, ../sass/global.style.scss */
h2 {
  font-size: 1.5em;
  font-family: QuicksandBookRegular, Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, sans-serif;
}

/* line 55, ../sass/global.style.scss */
h3 {
  font-size: 1.2em;
  font-family: QuicksandBookRegular, Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, sans-serif;
}

/* line 60, ../sass/global.style.scss */
h4 {
  font-size: 1em;
  font-family: QuicksandBookRegular, Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, sans-serif;
}

/* line 65, ../sass/global.style.scss */
b {
  font-family: QuicksandBookRegular, Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, sans-serif;
}

/* line 68, ../sass/global.style.scss */
p {
  line-height: 1.5em;
  font-size: 1em;
  margin-bottom: 2em;
}

/* line 73, ../sass/global.style.scss */
a {
  color: #1B9EE0;
  text-decoration: none;
}

/* line 77, ../sass/global.style.scss */
img {
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* line 85, ../sass/global.style.scss */
a:hover, a:focus, a:active {
  color: #4AC1FD;
}

/* line 89, ../sass/global.style.scss */
a:visited {
  color: #5496B8;
}

/* ==========================================================================
 * Addtional Global Styling
 * ==========================================================================*/
/* line 98, ../sass/global.style.scss */
.clear {
  clear: both;
}

/* line 102, ../sass/global.style.scss */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* line 111, ../sass/global.style.scss */
.clearfix {
  display: inline-block;
}

/* line 116, ../sass/global.style.scss */
* html .clearfix {
  height: 1%;
}

/* line 121, ../sass/global.style.scss */
.noBorderL {
  border-left: none;
}

/* line 124, ../sass/global.style.scss */
.noBorderR {
  border-left: none;
}

/* ==========================================================================
 * General Layout Specific Styling
 * ==========================================================================*/
/* line 131, ../sass/global.style.scss */
.social {
  position: absolute;
  bottom: 0;
  z-index: 1;
}
/* line 136, ../sass/global.style.scss */
.social li {
  margin-left: 20px;
  float: right;
  font-family: "SSSocial";
  font-size: 400%;
  position: relative;
}
/* line 143, ../sass/global.style.scss */
.social li a {
  color: white;
  opacity: 0.7;
  border-radius: 50%;
  z-index: 5;
  -webkit-transition: color 0.4s ease-out, opacity 0.6s;
  -moz-transition: color 0.4s ease-out, opacity 0.6s;
  -o-transition: color 0.4s ease-out, opacity 0.6s;
  transition: color 0.4s ease-out, opacity 0.6s;
}
/* line 148, ../sass/global.style.scss */
.social li a span {
  position: absolute;
  top: -11.9%;
  left: 1.3%;
  z-index: -1;
  width: 99%;
  height: 99%;
  background: white;
  opacity: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
  behavior: url(PIE.htc);
}
/* line 163, ../sass/global.style.scss */
.social li a:hover, .social li a:focus {
  opacity: 1;
}
/* line 165, ../sass/global.style.scss */
.social li a:hover span, .social li a:focus span {
  opacity: 1;
}
/* line 169, ../sass/global.style.scss */
.social li a:hover.facebook, .social li a:focus.facebook {
  color: #3B5998;
}
/* line 171, ../sass/global.style.scss */
.social li a:hover.twitter, .social li a:focus.twitter {
  color: #2daae1;
}
/* line 173, ../sass/global.style.scss */
.social li a:hover.linkedin, .social li a:focus.linkedin {
  color: #0370a9;
}
/* line 175, ../sass/global.style.scss */
.social li a:hover.googleplus, .social li a:focus.googleplus {
  color: #CC0000;
}

/* ==================================================================================
 *      Global Styling of main content
 * ==================================================================================*/
/* line 185, ../sass/global.style.scss */
.main-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 320px;
  width: 92%;
  overflow: hidden;
}
/* line 193, ../sass/global.style.scss */
.main-wrapper .main {
  max-width: 1100px;
  /* ==================================================================================
   *      Default Pages styling
   * ==================================================================================*/
}
/* line 199, ../sass/global.style.scss */
.main-wrapper .main .page-title-wrapper {
  margin: 4em auto 0 auto;
  width: 95%;
  position: relative;
  text-align: center;
  /* ==================================================================================
   *      Front Page styling
   * ==================================================================================*/
}
/* line 204, ../sass/global.style.scss */
.main-wrapper .main .page-title-wrapper a {
  display: inline-block;
}
/* line 207, ../sass/global.style.scss */
.main-wrapper .main .page-title-wrapper .page-title {
  background: #718488 url("../../img/city.jpg") 380px center;
  position: relative;
  border: white 0.1em solid;
  z-index: 2;
  margin-bottom: .5em;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all 0.2s, background 1s;
  -moz-transition: all 0.2s, background 1s;
  -o-transition: all 0.2s, background 1s;
  transition: all 0.2s, background 1s;
  -webkit-box-shadow: inset 2px -2px 3px rgba(60, 60, 60, 0.25), 0 0 6px rgba(80, 80, 80, 0.4);
  -moz-box-shadow: inset 2px -2px 3px rgba(60, 60, 60, 0.25), 0 0 6px rgba(80, 80, 80, 0.4);
  box-shadow: inset 2px -2px 3px rgba(60, 60, 60, 0.25), 0 0 6px rgba(80, 80, 80, 0.4);
  behavior: url(PIE.htc);
}
/* line 217, ../sass/global.style.scss */
.main-wrapper .main .page-title-wrapper .page-title h1 {
  font-size: 1em;
  float: left;
  font-family: WindsongRegular;
  text-align: center;
  text-shadow: 2px -1px rgba(50, 50, 50, 0.6);
  width: 100%;
}
/* line 224, ../sass/global.style.scss */
.main-wrapper .main .page-title-wrapper .page-title h1:first-letter {
  font-size: 1.2em;
}
/* line 227, ../sass/global.style.scss */
.main-wrapper .main .page-title-wrapper .page-title h1 span {
  display: block;
  margin: 0;
  color: white;
}
/* line 234, ../sass/global.style.scss */
.main-wrapper .main .page-title-wrapper .page-title::after {
  content: '';
  -webkit-box-shadow: inset -2px 2px 5px black;
  -moz-box-shadow: inset -2px 2px 5px black;
  box-shadow: inset -2px 2px 5px black;
}
/* line 238, ../sass/global.style.scss */
.main-wrapper .main .page-title-wrapper a:hover .page-title, .main-wrapper .main .page-title-wrapper a:focus .page-title {
  background: url(../../img/stock1.jpg);
}
/* line 244, ../sass/global.style.scss */
.main-wrapper .main .page-title-wrapper .slogan {
  text-shadow: 1px 2px rgba(100, 100, 100, 0.3);
  position: absolute;
  top: 36%;
  left: 0;
  width: 100%;
  white-space: nowrap;
  padding: 0.5em 0;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  border-radius: 1em;
  margin-bottom: 30px;
}
/* line 254, ../sass/global.style.scss */
.main-wrapper .main .page-title-wrapper .slogan p {
  margin-bottom: 0;
}
/* line 257, ../sass/global.style.scss */
.main-wrapper .main .page-title-wrapper .slogan h2 {
  color: #5f5f5f;
}
/* line 260, ../sass/global.style.scss */
.main-wrapper .main .page-title-wrapper .slogan h2 > p:nth-child(1) {
  text-align: right;
}
/* line 265, ../sass/global.style.scss */
.main-wrapper .main .page-title-wrapper .slogan h2 > p:nth-child(2) {
  text-align: left;
}
/* line 268, ../sass/global.style.scss */
.main-wrapper .main .page-title-wrapper .slogan h2 > p {
  float: left;
}

/* line 279, ../sass/global.style.scss */
.page-content {
  max-width: 1000px;
  margin: 5em auto 20em;
}

/* ==================================================================================
 *      Front Page recent Posts Styling
 * ==================================================================================*/
/* line 287, ../sass/global.style.scss */
.recent-posts {
  background: white;
  color: #443b35;
  padding: 2em 5%;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: -3px 4px 10px rgba(77, 77, 77, 0.56);
  -moz-box-shadow: -3px 4px 10px rgba(77, 77, 77, 0.56);
  box-shadow: -3px 4px 10px rgba(77, 77, 77, 0.56);
}
/* line 293, ../sass/global.style.scss */
.recent-posts a {
  color: #443b35;
}
/* line 297, ../sass/global.style.scss */
.recent-posts a:hover h2, .recent-posts a:focus h2 {
  color: #665F5A;
}
/* line 300, ../sass/global.style.scss */
.recent-posts a:hover .content p, .recent-posts a:focus .content p {
  text-decoration: underline;
}
/* line 304, ../sass/global.style.scss */
.recent-posts h1 {
  font-size: 2em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1em;
}
/* line 311, ../sass/global.style.scss */
.recent-posts h2 {
  font-size: 1.7em;
  margin-bottom: 0.5em;
  margin-right: 2em;
}
/* line 319, ../sass/global.style.scss */
.recent-posts [class*='post-'] {
  width: 100%;
  overflow: hidden;
  float: left;
  position: relative;
}
/* line 324, ../sass/global.style.scss */
.recent-posts [class*='post-'] .content {
  padding: 6%;
}
/* line 327, ../sass/global.style.scss */
.recent-posts [class*='post-'] .date {
  position: absolute;
  right: 0;
  width: 5em;
  height: 5em;
  background: #ebe5c5;
  padding: 9%;
  font-size: .6em;
  padding: 1em;
  -webkit-border-radius: 0 0 0 0.5em;
  -moz-border-radius: 0 0 0 0.5em;
  -ms-border-radius: 0 0 0 0.5em;
  -o-border-radius: 0 0 0 0.5em;
  border-radius: 0 0 0 0.5em;
  color: #443b35;
  font-family: QuicksandBoldRegular, Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, sans-serif;
}
/* line 340, ../sass/global.style.scss */
.recent-posts [class*='post-'] .date span {
  display: block;
  text-align: center;
}
/* line 344, ../sass/global.style.scss */
.recent-posts [class*='post-'] .date .M {
  font-size: 1.5em;
}
/* line 345, ../sass/global.style.scss */
.recent-posts [class*='post-'] .date .D {
  font-size: 2.5em;
  margin: 0.2em 0;
}
/* line 348, ../sass/global.style.scss */
.recent-posts [class*='post-'] .content img {
  max-height: 9em;
  margin: 0.4em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  border-radius: 0.5em;
}
/* line 355, ../sass/global.style.scss */
.recent-posts ul.posts {
  overflow-x: scroll;
  padding-bottom: 2em;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FFFFFFFF', endColorstr='#FFFFFFFF');
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(77%, #ffffff), color-stop(85%, #ffffff), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(left, #ffffff 77%, #ffffff 85%, rgba(255, 255, 255, 0) 100%);
  background-image: -moz-linear-gradient(left, #ffffff 77%, #ffffff 85%, rgba(255, 255, 255, 0) 100%);
  background-image: -o-linear-gradient(left, #ffffff 77%, #ffffff 85%, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(left, #ffffff 77%, #ffffff 85%, rgba(255, 255, 255, 0) 100%);
}
/* line 361, ../sass/global.style.scss */
.recent-posts ul.posts .items {
  width: 5000px;
}
/* line 364, ../sass/global.style.scss */
.recent-posts ul.posts li {
  float: left;
  min-height: 5em;
  width: 330px;
  border-left: 1px dashed #eee;
}
/* line 370, ../sass/global.style.scss */
.recent-posts ul.posts li a {
  border-top: .5em solid white;
  width: 100%;
}
/* line 374, ../sass/global.style.scss */
.recent-posts ul.posts li a:hover, .recent-posts ul.posts li a:focus {
  border-top: 0.5em solid #bcd496;
}
/* line 377, ../sass/global.style.scss */
.recent-posts .slide {
  margin: auto;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  behavior: url(PIE.htc);
  border: solid white 5px;
  height: 200px;
  width: 200px;
  background: #DDEEEE;
  position: relative;
}
/* line 387, ../sass/global.style.scss */
.recent-posts .slide a h4 {
  font-size: 2em;
  margin: 20% 3%;
}
/* line 391, ../sass/global.style.scss */
.recent-posts .slide a .mask {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  behavior: url(PIE.htc);
  overflow: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
}

/* line 404, ../sass/global.style.scss */
.content-wrapper {
  margin: 10px;
}
/* line 407, ../sass/global.style.scss */
.content-wrapper #content {
  height: 300px;
  background: white;
  width: 100%;
}

/* ==================================================================================
 *      Global Contact Lightbox Styling
 * ==================================================================================*/
/* ==================================================================================
 *      Filter Buttons
 * ==================================================================================*/
/* line 421, ../sass/global.style.scss */
.filters {
  text-shadow: -1px 1px rgba(100, 100, 100, 0.3);
  clear: both;
  color: white;
  font-size: 1.25em;
  margin-bottom: 5em;
}
/* line 427, ../sass/global.style.scss */
.filters h3 {
  text-align: center;
}
/* line 430, ../sass/global.style.scss */
.filters li {
  float: left;
  margin: 0 1em;
}
/* line 436, ../sass/global.style.scss */
.filters button {
  color: white;
  cursor: pointer;
  text-align: center;
  background: transparent;
  border: none;
  font-family: QuicksandBoldRegular, Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, sans-serif;
  font-size: inherit;
  text-shadow: inherit;
  padding: 0;
  margin: 0;
}
/* line 453, ../sass/global.style.scss */
.filters button span {
  display: block;
  width: 3em;
  height: 3em;
  background: #bcd496;
  margin: .5em auto;
  border: 0.25em white solid;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  behavior: url(PIE.htc);
}
/* line 464, ../sass/global.style.scss */
.filters .categories {
  margin-left: 28%;
  clear: both;
}

/* line 470, ../sass/global.style.scss */
.filters li.active span {
  background-color: #B5D87B !important;
}

/* line 475, ../sass/global.style.scss */
.filters li.all span {
  background: #bcd496 url("../../img/white/plus_16x16.png") no-repeat center;
}

/* line 479, ../sass/global.style.scss */
.filters li.general span {
  background: #bcd496 url("../../img/white/user_18x24.png") no-repeat center;
}

/* line 483, ../sass/global.style.scss */
.filters li.tech span {
  background: #bcd496 url("../../img/white/iphone_18x24.png") no-repeat center;
}

/* line 487, ../sass/global.style.scss */
.filters li.design span {
  background: #bcd496 url("../../img/white/lightbulb_15x24.png") no-repeat center;
}

/* line 491, ../sass/global.style.scss */
.filters li.drawing span {
  background: #bcd496 url("../../img/white/pen_alt_fill_24x24.png") no-repeat center;
}

/* line 495, ../sass/global.style.scss */
.filters li.misc span {
  background: #bcd496 url("../../img/white/box_24x24.png") no-repeat center;
}

/* line 499, ../sass/global.style.scss */
.filters li.photography span {
  background: #bcd496 url("../../img/white/camera_24x24.png") no-repeat center;
}

/* line 503, ../sass/global.style.scss */
.filters.fixed {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  font-size: 0.5em;
}
/* line 509, ../sass/global.style.scss */
.filters.fixed li {
  float: none;
}
