/* ==========================================================================
 *  This file is for page specific styling
 * ==========================================================================*/
/* line 27, ../sass/pages.scss */
.main.index .page-title-wrapper .page-title h1 {
  font-size: 1.00em;
  margin-top: 26%;
}

/* line 31, ../sass/pages.scss */
.main.blog .page-title-wrapper .page-title h1 {
  font-size: 1.17em;
  margin-top: 30%;
}

/* line 35, ../sass/pages.scss */
.main.about .page-title-wrapper .page-title h1 {
  font-size: 1.10em;
  margin-top: 40%;
  margin-left: -3%;
}

/* ==========================================================================
 *  About Page
 * ==========================================================================*/
/* line 45, ../sass/pages.scss */
.main.about .page-content {
  margin: 5em 5% 20em;
}

/* line 50, ../sass/pages.scss */
.main.about .page-content .about-me {
  font-weight: bold;
  text-shadow: 0 1px rgba(100, 100, 100, 0.3);
}
/* line 53, ../sass/pages.scss */
.main.about .page-content .about-me a {
  color: inherit;
  border-bottom: 1px dashed white;
  -webkit-transition: all, 0.5s;
  -moz-transition: all, 0.5s;
  -o-transition: all, 0.5s;
  transition: all, 0.5s;
}
/* line 58, ../sass/pages.scss */
.main.about .page-content .about-me a:hover, .main.about .page-content .about-me a:focus {
  color: rgba(255, 255, 255, 0.8);
}
/* line 71, ../sass/pages.scss */
.main.about .page-content .about-me .hello {
  font-size: 2em;
}
/* line 74, ../sass/pages.scss */
.main.about .page-content .about-me .ss-mail {
  margin-right: .2em;
}

/* ==========================================================================
 *  About Page Responsive
 * ==========================================================================*/
@media (max-width: 479px) {
  /* line 85, ../sass/pages.scss */
  .main.about .page-content .about-me {
    font-size: 1em;
  }
}
@media (min-width: 480px) and (max-width: 766px) {
  /* line 93, ../sass/pages.scss */
  .main.about .page-content .about-me {
    font-size: 1.25em;
  }
}
@media (min-width: 767px) and (max-width: 1023px) {
  /* line 100, ../sass/pages.scss */
  .main.about .page-content .about-me {
    font-size: 1.25em;
  }
}
@media (min-width: 1024px) {
  /* line 107, ../sass/pages.scss */
  .main.about .page-content .about-me {
    font-size: 1.4em;
  }
}
/* ==========================================================================
 *  Blog Page
 * ==========================================================================*/
/* =========================================================================
 * Blog Page Responsive
 * ==========================================================================*/
@media (max-width: 479px) {
  /* line 120, ../sass/pages.scss */
  .timeline {
    margin-left: 0;
    border-left: none;
  }
  /* line 123, ../sass/pages.scss */
  .timeline .date {
    top: -3em;
    left: 0;
    width: 100%;
  }
  /* line 127, ../sass/pages.scss */
  .timeline .date p {
    text-align: center;
  }
  /* line 132, ../sass/pages.scss */
  .timeline .date .D {
    font-size: 1em;
  }
  /* line 136, ../sass/pages.scss */
  .timeline div[id*='post-'] {
    margin-top: 3em;
  }
  /* line 138, ../sass/pages.scss */
  .timeline div[id*='post-'] .post-indicator {
    display: none;
  }

  /* line 143, ../sass/pages.scss */
  .blog-posts {
    margin: 0 1em;
  }
}
@media (min-width: 480px) and (max-width: 766px) {
  /* line 148, ../sass/pages.scss */
  .timeline {
    margin-left: 0;
    border-left: none;
  }
  /* line 151, ../sass/pages.scss */
  .timeline .date {
    top: -3em;
    left: 0;
    width: 100%;
  }
  /* line 155, ../sass/pages.scss */
  .timeline .date p {
    text-align: center;
  }
  /* line 161, ../sass/pages.scss */
  .timeline div[id*='post-'] {
    margin-top: 3em;
  }
  /* line 163, ../sass/pages.scss */
  .timeline div[id*='post-'] .post-indicator {
    display: none;
  }

  /* line 168, ../sass/pages.scss */
  .blog-posts {
    margin: 0 1.5em;
  }
}
@media (min-width: 767px) and (max-width: 1023px) {
  /* line 173, ../sass/pages.scss */
  .timeline {
    margin-left: 10%;
    border-left: 3px solid white;
    -webkit-box-shadow: -2px 0px 0px rgba(100, 100, 100, 0.15);
    -moz-box-shadow: -2px 0px 0px rgba(100, 100, 100, 0.15);
    box-shadow: -2px 0px 0px rgba(100, 100, 100, 0.15);
  }
  /* line 174, ../sass/pages.scss */
  .timeline p {
    line-height: 1.75em;
  }
  /* line 180, ../sass/pages.scss */
  .timeline .date {
    left: -7.5em;
    top: 32px;
  }
  /* line 183, ../sass/pages.scss */
  .timeline .date span {
    display: block;
  }

  /* line 188, ../sass/pages.scss */
  .blog-posts {
    margin: 0 3em;
  }
}
@media (min-width: 1024px) {
  /* line 193, ../sass/pages.scss */
  .timeline {
    margin-left: 10%;
    border-left: 3px solid white;
    -webkit-box-shadow: -2px 0px 0px rgba(100, 100, 100, 0.15);
    -moz-box-shadow: -2px 0px 0px rgba(100, 100, 100, 0.15);
    box-shadow: -2px 0px 0px rgba(100, 100, 100, 0.15);
  }
  /* line 194, ../sass/pages.scss */
  .timeline p {
    line-height: 1.75em;
  }
  /* line 200, ../sass/pages.scss */
  .timeline .date {
    left: -7.5em;
    top: 32px;
  }
  /* line 203, ../sass/pages.scss */
  .timeline .date span {
    display: block;
  }

  /* line 208, ../sass/pages.scss */
  .blog-posts {
    margin: 0 3em;
  }
}
/* =========================================================================
 * Blog Page Content Styling
 * ==========================================================================*/
/* line 215, ../sass/pages.scss */
.main.blog .page-content {
  margin-top: 10em;
}
/* line 217, ../sass/pages.scss */
.main.blog .page-content img {
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  border-radius: 1em;
  margin: 0 auto 2em;
}
/* line 221, ../sass/pages.scss */
.main.blog .page-content .timeline {
  height: 100%;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 225, ../sass/pages.scss */
.main.blog .page-content .blog-posts {
  min-height: 500px;
  color: #443b35;
}
/* line 229, ../sass/pages.scss */
.main.blog .page-content .blog-posts .content {
  padding: 2em;
  position: relative;
}
/* line 232, ../sass/pages.scss */
.main.blog .page-content .blog-posts .content .tag {
  position: absolute;
  right: 0;
  top: 0;
  height: 25px;
  max-width: 50px;
  background: #8db356;
}
/* line 241, ../sass/pages.scss */
.main.blog .page-content .blog-posts h2 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 1em;
  margin-top: 1em;
}
/* line 248, ../sass/pages.scss */
.main.blog .page-content div[id*='post-'] {
  background: white;
  margin-bottom: 100px;
  position: relative;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  -ms-border-radius: 2em;
  -o-border-radius: 2em;
  border-radius: 2em;
  -webkit-box-shadow: -3px 3px 10px rgba(50, 50, 51, 0.5);
  -moz-box-shadow: -3px 3px 10px rgba(50, 50, 51, 0.5);
  box-shadow: -3px 3px 10px rgba(50, 50, 51, 0.5);
}
/* line 257, ../sass/pages.scss */
.main.blog .page-content .post-indicator {
  width: 10px;
  height: 10px;
  background: white;
  position: relative;
  position: absolute;
  top: 70px;
  left: -3.4em;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: -2px 0px 0px rgba(100, 100, 100, 0.15);
  -moz-box-shadow: -2px 0px 0px rgba(100, 100, 100, 0.15);
  box-shadow: -2px 0px 0px rgba(100, 100, 100, 0.15);
}
/* line 267, ../sass/pages.scss */
.main.blog .page-content .post-indicator .point {
  position: absolute;
  top: -20px;
  left: 2.35em;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-right: 20px solid white;
}
/* line 276, ../sass/pages.scss */
.main.blog .page-content .date {
  text-shadow: -1px 1px rgba(100, 100, 100, 0.3);
  position: absolute;
  color: white;
  font-weight: bold;
}
/* line 281, ../sass/pages.scss */
.main.blog .page-content .date span {
  text-align: center;
}
/* line 284, ../sass/pages.scss */
.main.blog .page-content .date .M {
  font-size: 1.5em;
}
/* line 285, ../sass/pages.scss */
.main.blog .page-content .date .D {
  font-size: 2.5em;
  margin: 0.2em 0;
}
/* line 288, ../sass/pages.scss */
.main.blog .page-content .links {
  clear: both;
  width: 100%;
}
/* line 291, ../sass/pages.scss */
.main.blog .page-content .links .share, .main.blog .page-content .links .comment {
  float: left;
}
/* line 294, ../sass/pages.scss */
.main.blog .page-content .links .share .ss-icon {
  font-size: 2em;
}
/* line 298, ../sass/pages.scss */
.main.blog .page-content .category {
  position: absolute;
  right: 0;
  top: 1.5em;
  z-index: 3;
  text-shadow: -1px -1px rgba(49, 49, 49, 0.5);
}
/* line 304, ../sass/pages.scss */
.main.blog .page-content .category .pointer {
  position: absolute;
  left: 0.1em;
  top: 0;
  width: 0px;
  height: 0px;
  border-top: 1.1em solid transparent;
  border-bottom: 1.1em solid transparent;
  border-left: 1em solid rgba(0, 0, 0, 0.4);
}
/* line 314, ../sass/pages.scss */
.main.blog .page-content .category .pointer::after {
  content: '';
  position: absolute;
  left: -1.17em;
  top: -1em;
  width: 0px;
  height: 0px;
  border-top: 1.1em solid transparent;
  border-bottom: 1.1em solid transparent;
  border-left: 1em solid white;
}
/* line 326, ../sass/pages.scss */
.main.blog .page-content .category a {
  color: white;
  padding: .2em 2em .3em 4em;
  background: #8db356;
  display: block;
}
/* line 332, ../sass/pages.scss */
.main.blog .page-content .category a span {
  width: 2em;
  height: 2em;
  display: block;
  position: absolute;
  top: 0;
  left: 1.5em;
  background: url("../../img/icons_sprite.png") -345px -64px;
}
/* line 341, ../sass/pages.scss */
.main.blog .page-content .category a p {
  font-weight: bold;
  text-transform: uppercase;
  margin: auto;
}
